header{
  background: #fff;

  .menu-top {
    text-align: center;
    background: $secundary-color;
    line-height: 3.5;
    color: $primary-color-text;
    a{
      color: $primary-color-text;
      display: block;
      padding: 0 10px;
      text-decoration: none;
    }
    li{
      transition: 450ms;
      display: inline-block;
      float: none;
      &:hover, &.active {
        background: $primary-color;
        a{
          color: $primary-color-text;
        }
      }
    }

  }
}
.brand.brand-top {
  padding: 15px;
  img{
    max-width:100%;
  }
}